<html>

<head>
    <title></title>
    <link rel="stylesheet" href="{{ static_url("main.css") }}">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% module xsrf_form_html() %}
</head>

<body>
    <div id="main"></div>

<script src="{{ static_url("js/vendor/three.js") }}"></script>
<script src="{{ static_url("js/vendor/vg.js") }}"></script>
<script src="{{ static_url("js/dist/arena_game.js") }}"></script>

</html>
